{% extends 'base.html' %}

<!--title for the market page tab-->
{% block title %} 
    Market Page
{% endblock %}

{% block content %} <!--'content' here let's fask know that you're going to eadd stuff to the homepage's content-->
<div class="row" style="margin-top:20px; margin-left:20px"> <!--to create a grid of available("col-8") and purchase items("col-4"). tag is taken from bootstrap: grid: All breakpoints-->
    <div class="col-8">
        <h2>Available items in market</h2>
        <p>click to begin purchasing</p>
        <br>
        <table class="table table-hover table-dark">
            <!--this is the bootsrap for table design: whatever is in the class= is the design under the h1-->
            <thead>
                <tr>
                    <!-- Your Columns HERE -->
                    <th scope="col">NAME</th>
                    <!--scope associates the data in from line 59 to the ID column or "col"-->
                    <th scope="col">BARCODE</th>
                    <th scope="col">PRICE</th>
                    <th scope="col">OPTIONS</th>
                </tr>
            </thead>
            <tbody>
                <!-- Your rows inside the table HERE: -->
                <!-- Jinja syntax starts here till line 63 -->
                {% for x in items %}        <!--this how to write a for loop in jinja syntax-->
                {% include 'helper_tags/buttons_modals.html' %}<!--to render bootstrap modal from the 'helper_tags' folder and to make it display info unique to each item in the for loop usinf the item's id-->
                <tr>
                    <td>{{ x.id }}</td>
                    <td>{{ x.name }}</td>
                    <!--this jinja syntax looks like x[id] for dictionary or list indexing -->
                    <td>{{ x.barcode }}</td>
                    <td>${{ x.price }}</td>
                    <td>
                    <button type="button" class="btn btn-info" data-toggle='modal' data-target="#Modal-Info-{{ x.id }}">Info</button> <!--so the Info button will connect to the bs_modals file via line 10 id='Info'. #helps in reaching the target from the bs_modals.html-->
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Modal-PurchaseConfirm-{{ x.id }}">Purchase</button>
                    </td>
                </tr>
                {% endfor %}    <!--this is how you end a for loop in jinja syntax which says endfor (end for loop)-->
            </tbody>
        </table>
    </div>
    <div class="col-4">
            <h2>Purchased items</h2>
            <p>click sell to release item to market</p>
            <br>
            <div class="row">
                {% for owned_item in owned_items %}
                {% include 'includes/owned_modals.html' %}
                    <div class="col-md-6">  <!--6 so I can display two items in a row-->
                        <!--boostrap code for display--> 
                        <div style="margin-bottom: 5px" class="card text-center bg-dark">
                            <div class="card-body">
                                <h5 class="card-title">{{ owned_item.name }}</h5> <!--accessible thanks to for loop in line 51-->
                                <button type="button" class="btn btn-outline-danger" style="margin-bottom: 5px"
                                        data-toggle="modal" data-target="#Modal-SellingConfirm-{{ owned_item.id }}">
                                    sell item
                                </button>
                                <p class="card-text"><strong>
                                    item costs ${{ owned_item.price }}
                                </strong></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
    </div>
</div>
{% endblock %}


