asttokens==2.0.5
autopep8==1.6.0
bcrypt==3.2.2
email-validator==1.2.0
entrypoints==0.4
et-xmlfile==1.1.0
executing==0.8.3
filelock==3.6.0
Flask==2.1.1
Flask-Bcrypt==1.0.1
Flask-Compress==1.11
Flask-Login==0.6.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
Jinja2==3.1.1
requests==2.27.1
SQLAlchemy==1.4.36
WTForms==3.0.1
